* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dc9393;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #c5cab9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 1.5em;
    color: #555;
}

/* Timer circle styling */
.timer-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #3a5571;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

#timer {
    font-size: 1.5em;
    color: #007BFF;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option:hover {
    background-color: #e0e0e0;
    border-color: #888;
}

.option:active {
    background-color: #d4d4d4;
}

@media (max-width: 600px) {
    .quiz-container {
        width: 90%;
    }

    #question {
        font-size: 1.2em;
    }

    .option {
        font-size: 1em;
    }

    .timer-circle {
        width: 50px;
        height: 50px;
    }

    #timer {
        font-size: 1.2em;
    }
}
